.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
  
}
img.d-inline-block.align-top{
  margin-left: 20px;
}
a.nav-link{
  color: #007bff;
  margin-right: 50px;
}
.nav-item{
  margin-right: 10px;
}
a.btn.btn-primary {
  margin: 10px;
}
.App {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 20px;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: white;
    box-sizing: border-box;
  
}

.b{
  color:#007bff;
  text-align: center;
  padding-bottom: 2px;
}
.App {
  padding-top: 50px;
}
.column.jatin {
  height: 25px;
  margin-right: 60px;
  margin-left: 10px;
  border-radius: 10px;
  

}
h2.yup {
  margin-left: 5px;
  margin-top: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.column.undefined {
  border: 2px solid #007bff;
  border-radius: 10PX;
  padding: 10px;
}
.ss{
  float: right;
  text-align: right;
}
.container{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  margin: 40px -20px 0 -20px;
  padding: 30px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row{
  align-items: center;
}
h3.stake {
  padding: 30px;
  margin-left: 3px;

  margin-top: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
button.chk.btn.btn-primary.btn-lg {
  float: right;
}
button.wlt.btn.btn-primary{
  margin: 50px;
  float: right;
}

.lll{
  color: red;
    background: white;
    -webkit-text-stroke-width: thin;
    border: none;
}
p.box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.amount-label{
  float: right;
  margin: 5px;
}
.modal-title {
  color: aliceblue;
}
.modal-header{
  background-color: #007bff;
}

.justify-content-center.modal-title.h4{
  color: aliceblue;
}
input#exampleForm\.ControlInput1 {
  padding: 10px;
}
label.form-label {
  font-size: larger;
 
}
button.btn.btn-primary.btn-lg {
  padding-right: 40px;
  padding-left: 40px;
}










@media (max-width: 976px){
  h3.stake{
    margin-top: 110px;
  }
}